nav#mainNav
	margin: 10px 10px 0 10px
	border-radius: 10px
	background: lighten(lightblue, 10%)
	border: solid 3px white
	ul li:hover
  	background: lighten(red,10%)
  	color: white
  	transition: all 0.2s ease-in-out
  	transform: scale(1.1)

	div
		
		color: teal
		display: inline
		margin: 10px 40px 0px 10px
		font-size: 20px
	ul
  	float: right
  	list-style-type: none
  	li
  		float: left
  		border-radius: 10px
  		color: black
  		margin: 0 5px
  		transition: all 0.2s ease-in-out
  		a
  			text-decoration: none
  			color: inherit
	  		text-align: center
	  		float: left
	  		display: block
	  		padding: 10px 15px
	  		font-size: 15px
	  		
	  		

  
			


   

  		